@charset "utf-8";

/*===========================================
 reset 触らない
========================================== */
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

progress {
  display: inline-block;
}

small {
  font-size: 80%;
  font-size: 0.8em;
}

[hidden] {
  display: none;
}

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="submit"],
input[type="button"] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
  outline-offset: -0.125rem;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

nav ol,
nav ul {
  list-style: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*===========================================
 base プロジェクトによって編集可
========================================== */
@font-face {
  font-family: "stahl";
  /* 任意のフォント名 */
  src: url("../fonts/StahlKl12OT-Normal.otf") format("opentype");
  /* フォントファイルのパスとフォーマット */
  font-weight: normal;
  /* ウェイト (bold, lightなども指定可能) */
  font-style: normal;
  /* スタイル (italicなども指定可能) */
}

html {
  font-size: 100%;
}

@media (max-width: 414px) {
  html {
    font-size: calc((100vw - 320px) / 94 * 3.7 + 12.3px);
  }
}

@media (min-width: 414px) and (max-width: 699.98px) {
  html {
    font-size: calc((100vw - 414px) / 352 * 4 + 16px);
  }
}

@media (min-width: 700px) {
  html {
    font-size: 22px;
  }
}

:root {
  --color__txt: #352d21;
}

body {
  color: var(--color__txt);
  font-family: "Noto Sans JP", sans-serif;
  word-break: break-all;
}

p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.75;
  /* -webkit-font-smoothing: antialiased; */
}

a {
  color: #f75e29;
}

p a {
  font-weight: bold;
  text-decoration: underline;
}

a>* {}

/* a img {
  transition: all 0.6s cubic-bezier(0.12, 1.07, 0.15, 1.11);
}

a img:hover {
  opacity: 0.7;
} */

em {
  font-style: normal;
  font-weight: bold;
}

img {
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
  /* margin-top: -0.3px;
  margin-bottom: -0.3px; */
}

picture {
  display: block;
  line-height: 0;
  font-size: 0;
}

picture>img {
  font-size: 0px;
  font-size: 0rem;
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

*:focus {
  outline: none;
}

form input,
form textarea {
  /* -webkit-appearance: none; */
}

h1,
h2,
h3 {
  /* font-family: var(--font-family__mincho); */
  /* color: #fff; */
}

.is-show {
  opacity: 1 !important;
}

.is-hide {
  opacity: 0 !important;
}

@media (min-width: 700px) {
  .pc {
    display: block;
  }

  .pc--inline {
    display: inline;
  }

  .sp {
    display: none !important;
  }

  .sp--inline {
    display: none !important;
  }
}

@media (max-width: 699.98px) {
  .pc {
    display: none !important;
    pointer-events: none;
  }

  .pc--inline {
    display: none !important;
  }

  .sp {
    display: block;
  }

  .sp--inline {
    display: inline;
  }
}

@media (max-width: 767.98px) {
  p {
    line-height: 1.75;
    font-size: 16px;
    font-size: 1rem;
  }
}

/*===========================================
 Project ここから独自CSS記載
========================================== */
a {
  transition: all 0.6s cubic-bezier(0.12, 1.07, 0.15, 1.11);
}

@media (hover: hover) {
  a:hover {
    opacity: 0.8;
  }
}

.bz {
  background-color: #fff;
  position: relative;
}

@media (min-width: 700px) {
  .bz {
    display: flex;
    justify-content: center;
  }

  .pc-logo__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(380 / 1680 * 100%);
  }

  .pc-logo {
    aspect-ratio: 380 / 81;
    object-fit: cover;
  }

  .pc-bg {
    position: fixed;
    inset: 0;
    aspect-ratio: 1680/921;
    object-fit: cover;
    height: 100%;
    display: block;
  }
}

@media (min-width: 1040px) {
  .bz {
    justify-content: center;
    padding-inline: 20px;
  }

  .bz-page {
    margin-left: calc(100 / 1040 * 100%);
  }
}

@media (min-width: 1400px) {
  .bz {
    padding-inline: 20px;
  }

  .bz-page {
    margin-left: 8vw;
  }
}

@media (min-width: 1700px) {
  .bz {
    justify-content: center;
  }
}

/* PC部分 */
.bz-pc,
.pc-logo__wrapper,
.pc-bg {
  display: none;
}

.bz-pc__box {
  position: relative;
  left: -8%;
}

.pc01 {
  aspect-ratio: 406/308;
  object-fit: contain;
}

.pc-02 {
  width: calc(430 / 1680* 100%);
  max-width: 430px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -89%;
  width: 100%;
}

.pc02 {
  aspect-ratio: 401/302;
  object-fit: contain;
}

.pc-btn01 {
  display: block;
}

.pc-btn01 {
  margin-top: 48px;
  display: block;
  width: calc(400 / 422 * 100%);
  margin-inline: auto;
  position: relative;
  top: 7px;
}

.pc-btn01 {
  object-fit: cover;
}

.bz-page {
  background-color: #fff;
  width: 100%;
  position: relative;
  z-index: 9;
}

@media (min-width: 700px) {
  .bz-pc__content {
    /* position: sticky; */
    position: fixed;
    top: 38%;
    transform: translate(0%, -50%);
    width: calc(450 / 1680 * 100%);
    max-width: 450px;
  }

  .bz-page {
    max-width: 642px;
    min-width: 414px;
    flex: 1;
    border-inline: 7px solid #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  }

  .pc-bg {
    display: block;
  }
}

@media (min-width: 1040px) {
  .bz-pc {
    display: block;
    position: relative;
    width: min(420px, 25%);
    z-index: 9;
  }

  .pc-logo__wrapper {
    display: block;
  }
}

/* SP部分 */
/* header */
.bz-header {
  position: relative;
  z-index: 1;
}

.bz-header__inner {
  padding-top: 7px;
  padding-left: 17px;
  padding-right: 9px;
  display: flex;
  justify-content: space-between;
}

.bz-header__logo {
  width: calc(100 / 388 * 100%);
  height: auto;
}

.bz-header__button {
  width: calc(117 / 388 * 100%);
  height: auto;
  margin-top: 5px;
}

/* ファーストビュー */
.bz-fv {
  position: relative;
  z-index: 0;
}

@media (min-width: 700px) {
  .bz-fv {
    position: relative;
    z-index: 0;
  }
}

.bz-fv__button {
  position: absolute;
  left: 50.2%;
  transform: translateX(-50%);
  bottom: 1px;
  width: 372px;
  width: 23.25rem;
}

/* フッター */
.bz-footer {
  margin-top: -40px;
  margin-top: -2.5rem;
}

/* ボタン関連 */
.cta-exist {
  position: relative;
}

.bz-cta-group {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 373px;
  width: 23.3125rem;
  margin-inline: auto;
}

.bz-cta-group--pc {
  width: calc(410 / 450* 100%);
  max-width: 410px;
  bottom: 12%;
}

.bz-cta-group--03 {
  width: 356px;
  width: 22.25rem;
  bottom: 11.1%;
}

.bz-cta-group--26 {
  bottom: -29%;
}

.bz-cta-group--43 {
  bottom: 9%;
}

.bz-cta-group--55 {
  bottom: 9%;
}

.bz-cta-group--74 {}

.bz-cta-group--90 {
  bottom: 39%;
}

.bz-cta-group--108 {
  bottom: 33%;
}

/* アコーディオン */
.accordion {
  width: 366px;
  width: 22.875rem;
  margin-inline: auto;
}

.bz-ac01 {
  margin-top: 10px;
  margin-top: 0.625rem;
}

.bz-ac02 {
  margin-top: 20px;
  margin-top: 1.1875rem;
}

.bz-ac03 {
  margin-top: 12px;
  margin-top: 0.75rem;
}

/* 他コンテンツ */
.bz-08,
.bz-13,
.bz-16,
.bz-19,
.bz-28,
.bz-31,
.bz-32,
.bz-37,
.bz-38,
.bz-50,
.bz-51,
.bz-53,
.bz-54,
.bz-55,
.bz-57,
.bz-59,
.bz-68,
.bz-70,
.bz-82,
.bz-86,
.bz-90,
.bz-92,
.bz-93,
.bz-95 {
  margin-top: -1px;
}
.bz-57 {
   margin-top: -0.4px;
}

.bz-75 {
  margin-top: 148px;
  margin-top: 9.25rem;
}

.bz-77 {
  margin-top: 60px;
  margin-top: 3.75rem;
}

.bz-95 {
  position: relative;
}
.bz-map iframe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 84%;
  height: auto;
  aspect-ratio: 351 / 219;
}

/* 固定ボタン */
.kotei-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.kotei-btn.is-active {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 700px) {
  .kotei-btn {
    display: none;
  }
}

/* safariのみ適用 */
.safari a img {
  transition: all 0.6s cubic-bezier(0.12, 1.07, 0.15, 1.11);
}

.safari a:hover img {
  opacity: 0.7;
}